
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home_Page</title>
</head>
<body>
    <h1>This is ejs home page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore perspiciatis, nam officia exercitationem in cumque rem ab earum fuga neque quia maiores obcaecati, quae consequatur facere, ducimus architecto! Voluptatem, quasi?</p>
    <button>Click Me!</button>
</body>
</html>